<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <meta name="decsription" content="{{htmlWebpackPlugin.options.description}}">
  </head>
  <body>
    <div class="alert alert-primary" role="alert">This is a primary alert.  Check it out!</div>
    <div class="dropdown my-dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="">
        Dropdown Button
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a href="#" class="dropdown-item">Action</a>
        <a href="#" class="dropdown-item">Another action</a>
        <a href="#" class="dropdown-item">Something Else</a>
        <a href="#" class="dropdown-item">Something</a>
      </div>
    </div>
  </body>
</html>